
/*Basics */
*{
    box-sizing: border-box;
}
body {
    background-color: rgb(227,227,227);
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}
input {
    cursor: pointer;
}

/* COMPONENTS */

/*Header components */

.main-header {
    height: 66px;
  width: 100%px;
    background-color:#ff7f00
}

.header-container {
    height: 100%;

}
.main-header .logo {
    width: 12%;
    color: #ffffff;
    cursor: pointer;
    font-size: 2.5rem;
    text-shadow: 0 1px 0 #1e1e1e;
    padding-left: 4%;

}

.main-header .navbar-conntainer > * {
    width: 11.875rem;
    height: 4.375rem;
}

.main-header .navbar-conntainer > *:hover {
    transition: background-color 0.3s;
    box-shadow: inset 0 -6px 0 #58c93a;
    color: #58c93a;
}

.nav-item {
    height: 100%;
    justify-content: center;
}

.navbar-conntainer .nav-item {
    font-family: lato-bold;
    color: #ffffff;
    font-size: 1rem;
    text-shadow: 0 1px 0 #1e1e1e;
}

.navbar-conntainer .nav-item:active {
    color: #000000;
}

.menu-btn {
    display: none;
}

/* search-bar */

.search-bar{
    height: 100px;
    width: 100%;
background-color: white;
}

.search-container{
    height:100%;
width: 100%;
}

.form-search {
width:40%;
height:50%;
justify-self: center;
margin-right: 10%;
}


.keyword-container {
    width: 60%;
    height: 100%;
    margin-right:10%;
  
}
.keyword-item {
    height: 100%;
    margin-right:3rem;
}

/* gallery grid */

.frist-panel {
width: 100%;
background-color: rgb(227,227,227);
margin: 0;
padding-left: 3.125rem;
padding-top: 1.25rem;
padding-right:3.125rem;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    /* grid-auto-flow: dense; */
    row-gap:  1.25rem;
    column-gap:  1.25rem;
}

/* second-panel */
.second-panel {
   padding-top: 10px;
    width: 100%;
    height: 37.5rem
}

/* canvas */

.canvas-container{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding-right: 10px;
}
canvas{
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0);
}
/* btn */
.btn-container{
    padding-left: 10px;
    width:50%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
}

.btn-icon {
    width: 50px
}



/* footer */
footer {
    width:100%;
    height:206px;
    background-color:#ff7f00
}
/* HELPERS */
.hidden {
    display: none;
}
.clean-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.capitalize {
    text-transform: capitalize;
}
/* FLEX HELPERS */
.flex {
    display: flex;
}
.flex.align-center {
    align-items: center;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.spcae-around {
    justify-content: space-around;
}
.flex.direction-column{
    flex-direction: column;
}